@{ 
    Page.Title = "Welcome Page";
    Page.Header = "Welcome to our little medieval store";
    Page.Subheader = "We will help you survive no matter what";
}

<form action="~/Store/List.cshtml" method="get">
    <input type="submit" value="Brace yourself" />
</form>