@import url(http://pl.allfont.net/allfont.css?fonts=star-jedi);

h1 {
    font-size: 6rem;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: yellow;
    font-family: 'Star Jedi', arial;
}

h3 {
    font-size: 2rem;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
}

header {
    margin: 30px 0 100px 0;
}