<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <style>
        body {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <h4><%= message %></h4>
    <div>
    <form action="/" method="get">
        <input type="submit" value="Continue shopping" />
    </form>
        <% if (choice) { %>
        <form action="/cart" method="get" >
            <input type="submit" value="See shopping cart"/>
        </form>
        <%  } %>
    </div>
</body>
</html>