<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Properties/Name.cshtml" method="post">
        <input type="text" name="name" placeholder="Type name"/>
        <input type="submit" value="Send data" />
    </form>
</body>
</html>
